.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
  flex-direction: row;
}

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link { width: 23%; }

.rodapePrincipal-navMap-list {
  display: flex;
  flex-flow: column wrap;
  height: 260px;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.radapePrincipal-contatoForm { width: 25%; }

.rodapePrincipal-contatoForm-fieldset { display: flex; }

.videoSobre .container { display: flex; }

.videoSobre-sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

.videoSobre-sobre-list { flex-grow: 1; }

.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2;
}

.videoSobre-button { cursor: pointer; }

/* Parte Mobile */

@media(max-width: 768px) {
  .cabecalhoPrincipal-nav { flex-direction: column; }

  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .conteudoPrincipal-cursos { flex-direction: column; }

  .conteudoPrincipal-cursos-link { width: 100%; }

  .rodapePrincipal-navMap-list { height: auto; }

  .videoSobre .container { 
    flex-direction: column;
  }

  .videoSobre-video { margin: 0 auto; }

  .rodapePrincipal-patrocinadores .container {
    align-items: center;
    flex-direction: column;
  }

  .rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
  }

  .rodapePrincipal-contatoForm { width: 100%; }
  
  .rodapePrincipal-contatoForm-fieldset { justify-content: center; }

  /* Refatorando ordem no mobile */

  .cabecalhoPrincipal-nav-link-app { order: -1; }
}